.process-container {
  max-width: 1600px;
  margin: auto;
  padding: 0 20px;
}
.contact-btn {
  background-color: #f2f2f2;
  padding: 20px 40px;
  border: 0px;
}

.process-container a {
  display: flex;

  justify-content: center;
  text-decoration: none;
}
.process-container li {
  font-weight: bold;
  list-style-type: none;
  font-size: 18px;
}
.process-container p,
.seconde-list-container li {
  font-weight: normal;
  max-width: 1000px;
}
@media (max-width: 600px) {
  .process-container h2,
  .process-container h3 {
    font-size: 20px;
  }
  .process-container p,
  .seconde-list-container li {
    font-size: 18px;
  }
}
