.portfolio-image-section {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  padding: 20px;
}
.portfolio-image-section .link {
  overflow: hidden;
}
.flatrock {
  height: 500px;
  width: 750px;
  text-align: center;
}
.flatrock img {
  width: 100%;
  height: 100%;
}
.flatrock h2 {
  color: black;
  font-size: 17.5px;
  text-align: left;
  color: #666;
  line-height: 1.7em;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
}
.portfolio-container {
  max-width: 1600px;
  margin: auto;
  height: 150vh;
  margin-top: 30px;
}
.portfolio-container .text {
  padding-left: 1.5%;
}
.text h2 {
  font-size: 19px;
  line-height: 1.2em;
  text-transform: none;
  letter-spacing: 0.05em;
  font-weight: 500;
  font-style: normal;
  margin: 1em 0 0.5em;
}
.text h5 {
  font-size: 17.5px;
  line-height: 1.2em;
  text-transform: none;
  letter-spacing: 0.05em;
  font-weight: 400;
  font-style: normal;
  margin: 1em 0 0.5em;
}
@media (max-width: 1444px) {
  .portfolio-image-section {
    display: flex;
    justify-content: center;
  }
  .flatrock {
    height: 446px;
    width: 600px;
    text-align: center;
  }
}
@media (max-width: 1300px) {
  .flatrock {
    height: 400px;
    width: 560px;
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .flatrock {
    height: 400px;
    width: 505px;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .portfolio-image-section {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .flatrock {
    height: 306px;
    width: 428px;
    text-align: center;
  }
}
@media (max-width: 850px) {
  .flatrock {
    height: 290px;
    width: 393px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .flatrock {
    height: auto;
    width: 100%;
  }
  .portfolio-image-section {
    gap: 70px;
    margin-top: 30px;
  }
  .portfolio-container .text {
    padding-left: 4%;
  }
  .portfolio-image-section {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .portfolio-image-section {
    display: flex;
    flex-direction: column;
  }
}
