.portfolio-image-section {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 20px;
}
.flatrock {
  height: 500px;
  width: 700px;
  text-align: center;
}
.flatrock img {
  width: 100%;
  height: 100%;
}
.flatrock h2 {
  color: black;
  font-size: 17.5px;
  text-align: left;
  color: #666;
  line-height: 1.7em;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
}
.portfolio-container {
  max-width: 1600px;
  margin: auto;
  height: 150vh;
  margin-top: 30px;
}
.portfolio-container .text {
  padding-left: 2%;
}
.text h2 {
  font-size: 19px;
  line-height: 1.2em;
  text-transform: none;
  letter-spacing: 0.05em;
  font-weight: 400;
  font-style: normal;
  margin: 1em 0 0.5em;
}
.text h5 {
  font-size: 17.5px;
  line-height: 1.2em;
  text-transform: none;
  letter-spacing: 0.05em;
  font-weight: 400;
  font-style: normal;
  margin: 1em 0 0.5em;
}
@media (max-width: 1444px) {
  .portfolio-image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }
}
@media (max-width: 1024px) {
  .portfolio-image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
  }
}
@media (max-width: 768px) {
  .flatrock {
    height: 200px;
    width: 325px;
  }
  .portfolio-image-section {
    gap: 70px;
    margin-top: 30px;
  }
  .portfolio-container .text {
    padding-left: 10%;
  }
}
