.slider-container {
  max-width: 1600px;
  margin: auto;
  padding: 0 10px;
}
.flex-container {
  display: flex;
  gap: 10px;
}
.flex-container ul {
  padding: 0px;
}
.pageImages {
  list-style-type: none;
  margin-bottom: 10px;
}
.content h3 {
  width: 100%;
}
.slider-container h5 {
  color: #666;
  font-size: 17.5px;
  font-weight: 400;
  margin-top: 10%;
}
.content h3 {
  font-size: 18px;
  font-weight: normal;
}
.image-slider {
  width: 1200px;
  height: 800px;
}
.image-slider img {
  height: 100%;
  width: 100%;
}
@media (max-width: 1300px) {
  .flex-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
  .pageImages {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media (max-width: 1200px) {
  .image-slider {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 1090px) {
  .flex-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .image-slider {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .flex-container {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (max-width: 600px) {
  .flatrock h2 {
    font-size: 20px;
    text-align: left;
  }
  .content h3 {
    font-size: 18px;
    font-weight: normal;
  }
}
