.slider-container {
  max-width: 1600px;
  margin: auto;
  padding: 0 10px;
}
.sliderimage {
  height: 100%;
  width: 100%;
}
.sliderimage img {
  width: 100%;
  height: 100%;
}
.slider-section {
  padding-bottom: 10%;
}
@media (min-width: 768px) {
  .sliderimage {
    height: 800px;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .flatrock h2 {
    font-size: 20px;
  }
}
