.hideFooter {
  display: none;
}

.footer h2 {
  margin: 0px;
}
.footer-content {
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}
.footer-align {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer {
  width: 100%;
  background-color: rgb(235, 235, 235);
  color: rgba(77, 77, 77, 0.72);
  text-align: center;
}
.footer2 {
  width: 100%;
  background-color: rgb(145, 145, 145);
  color: #d2d1d1;
  text-align: center;
}
.footer h4 {
  margin: 0px;
}
.social-icons {
  cursor: pointer;
  margin-left: 10px;
}
.tags-section {
  display: flex;
  align-items: center;
}
