.hideFooter {
  display: none;
}

.footer h2 {
  margin: 0px;
}
.footer-content {
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}
.footer-align {
  display: flex;
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 1%;
}
.footer {
  width: 100%;
  background-color: rgb(235, 235, 235);
  color: rgba(77, 77, 77, 0.72);
  text-align: center;
}
.footer2 {
  width: 100%;
  background-color: rgb(145, 145, 145);
  color: #d2d1d1;
  text-align: center;
}
.footer h4 {
  margin: 0px;
  font-size: 19px;
  font-weight: 500;
}
.social-icons {
  cursor: pointer;
  margin-left: 10px;
}
.tags-section {
  display: flex;
  align-items: center;
  margin-left: -10px;
}

.footer-text li {
  text-align: center;
  justify-content: center;
  display: flex;
  justify-content: space-between;
}
.footer-text ul {
  padding: 0px;
}
li {
  list-style-type: none;
}
li.heading {
  letter-spacing: 3px;
  color: #000;
  margin-bottom: 15px;
}
.footer-text {
  display: flex;
  gap: 65px;
}
li.email {
  margin-bottom: 15px;
}
.footer-text {
  display: flex;
  gap: 65px;
  justify-content: space-around;
  width: 100%;
}
@media (max-width: 600px) {
  .footer-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .footer-text {
    display: flex;

    flex-direction: column;
    gap: 0px;
  }
  .footer-text {
    width: fit-content;
  }
}
