.louisville-container {
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}
.text h1 {
  text-align: center;
}
.text .header {
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.text p {
  font-size: 17.5px;
  color: #666;
}
.timing-container h3 {
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.timing-container {
  display: flex;
  gap: 3%;
}
.timing-container li {
  font-size: 17.5px;
  color: #666;
}
.timing-container ul {
  padding: 0px;
}
.image-container {
  width: 100%;
  height: auto;
  position: relative;
}
.image-container img {
  width: 100%;
  height: auto;
}

.flex-one {
  display: flex;
  flex-direction: column;
  margin-bottom: 8%;
}
.rotate-text {
  width: 95%;
  text-align: center;
  position: absolute;
  bottom: 1%;
  left: 2%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .rotate-text h3 {
    margin: 0px;
  }
}
